footer {
<<<<<<< HEAD
    background-color: green;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
=======
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 60px;
>>>>>>> 877b82577af2985e29f5d41a628268581730b68b
}
