body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
<<<<<<< HEAD
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
=======
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
>>>>>>> 877b82577af2985e29f5d41a628268581730b68b
}
